<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %> | <%= @restaurant.phone_number %> | <%= @restaurant.category %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= "â­"*review.rating %></li>
  <% end %>
</ul>
